:root{
    --green:#00A149;
    --white:white;
    --red:#881014;
    --dark:#000;
    --title: 'Arima Madurai', cursive;
    --paragraph: 'Mulish', sans-serif;



}
html{
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    font-size:1.6rem;
    overflow-x:hidden;
}

*,*::after, *::before{
    box-sizing: inherit;
}

/*globales*/

.container{
    max-width: 120rem;
    margin: 0 auto;
    width: 95%;
    
}

h1, h2 {
    font-family: var(--title);
}

h3, p, a {
    font-family: var(--paragraph);
}


img{
    max-width: 100%;
}

.red{
    color: var(--red);
    position: relative;
    top: -8px;  
}

.white{
    color: var(--white);
    position: relative;
    top: -8px;
} 

.logo-appe img{
    width: 50px;

}

.logo h2{
    font-size: 3rem;

}

.hide{
    display: none;
}

.btn-Close{
    font-size: 3rem;
    font-weight: bold;
    color: var(--red);
    position:absolute;
    top: 0;
    right: 50px;
    user-select: none;

}
.full-screen{
    position: absolute;
    top:0;
    left: 0;
    bottom:0 ;
    right: 0;
    background-color:rgba(0,0,0,.5 ) ;
    z-index: 4;
}
@keyframes displacement{
    0% {
        transform:translateX(100%);
}

    100%{
        transform:translateX(0);
    }

}

.btn-Close:hover{
    cursor: pointer;
}

.btn{
    text-decoration: none;
    color: var(--white);
    font-size: 2rem;
    text-transform: capitalize;
    padding: 1rem 5rem;
    border-radius: 5px;
    transition: all .3s ease-in-out;
    background-color:rgba(114, 7, 7, 0.427);
}

@media (min-width: 768px) {
    .btn {
        font-size: 2.2rem;
    }
}

.border{
    border: 3px solid var(--white);
}

@media (min-width: 768px) {
    .border {
        border: 4px solid var(--white);
    }
}

.border:hover{
    color: var(--red);
    background-color: var(--white);

}

.btn-green {
    background-color: var(--green);
    border: none;
    display: inline-block;
    margin-bottom: 2rem;
    font-family: var(--paragraph);
}

.btn-red{
    background-color: var(--red);
    font-weight: bold;
    font-family:var(--paragraph);
    display: inline-block;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
}

.btn-green svg{
    width: 20px;
    padding:3px;

}
/*encabezado*/

.container-navegation{
    position: relative;
    background-color: var(--dark);
    z-index: 5;
}

.content-navegation{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo h2,.navegation a {
    color: var(--white);
}

.logo h2{
    font-size: 3rem;
}

.navegation a{
    text-decoration:none;
    font-size: 2.2rem; 
    padding: 1.5rem;
    padding-left: 4rem;
    display: block;
    transition: color .3s ease-in-out;
    text-align: center;

}

@media (min-width: 768px) {
    .navegation a {
    text-align: left;
    }
    
}
.navegation a:nth-child(odd):hover{
        color:var(--red)
    
}


.navegation a:first-of-type{
    margin-top: 5rem;

}


.navegation{
    position: absolute;
    top: 0;
    right: 0;
    height:100vh;
    width: 40rem;
    padding: 3rem 4rem;
    background-color:var(--dark);
    animation: displacement 0.5s ease-in-out;
    z-index: 15;
}

.hamburger:hover{
    cursor: pointer; 
}

.hamburger span{
    background-color: var(--white);
    display:block;
    width: 5rem;
    height: .5rem;
    margin-bottom: .5rem;
}
.content-header{
    position: relative;
    width: 100%;
    height: 100%;

}

.content-header::before{
    content: '';
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    background-color: rgba(0,0,0,.5);
}
.text-header{
    position:absolute;
    z-index: 2;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.text-header h2{
    color: var(--white);
    font-size: 4rem; 

}

figure {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    
}

@media (min-width: 768px) {
    .text-header h2 {
        font-size: 8rem;
        
    }
}

figure img{
    width: 100%;
    height: 100%;
}

/*sobre nosotros*/

.container-us {
    padding-top: 5rem;  
}


@media (min-width: 768px){
    .container-us {
        display: flex;
        justify-content: space-between;
        
        
    }
}

.text-us, .image-us {
    flex: 0 0 calc(50% - 1rem); /* Ajustar tamaño */
}

.text-us .welcome{
    font-size:4rem;
    color: var(--red);
    text-align: center;
    margin-top: 5px;

}

@media (min-width: 768px){
    .text-us .welcome{
        text-align: left;
        
}}



.text-us h1{
    font-size:5rem;
    text-align: center;
}

h1, img{
    margin-bottom:-10px;

}



@media (min-width: 768px){
    .text-us h1{
    text-align: left;
}}



.text-us p{
    font-size:2rem ;
    text-align: center;
}

@media (min-width: 768px){
    .text-us p{
        text-align: left;
    }}



.image-us {
    display: flex;
    justify-content: space-between;
}

.image-us img {
    border-radius: 5px;
}

.image1, .image2 {
    flex: 0 0 calc(50% - 1rem);

}  

.image2 img {
    margin-bottom: 1rem;
}
.separator{
    background-image: url('../images/ensalada.webp');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 2;
}

.separator::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5 );
    z-index: -1;
}

.content-separator{
    padding: 5rem;

}

.content-separator h2{
    font-size: 4rem;
    color: var(--white);
    text-align: center;
}

@media(min-widht: 768px){
    .content-separator h2{
        text-align: left;
        font-size: 5rem;
        color: var(--white);
    }
}

.content-separator p{
    color: var(--white);
    font-size: 3rem;
    text-align: center;
}
@media(min-widht: 768px){
    .content-separator p{
       text-align: left;
    }
}

/*seccion del chef*/

.chef h2{
    background-color: var(--red);
    display: inline-block;
    padding: 1rem 3rem;
    color: var(--white);
    font-size: 4rem;

}

@media(min-width: 768px) {
    .content-chef{
        display: flex;
        justify-content: space-between;
    }
}

.text-chef, .image-chef{
    flex: 0 0 calc(50% - 1rem);
}

.text-chef h3{
    font-size:3rem;
}

.text-chef p{
    font-size: 2rem;
}

iframe{
    width: 100%;
}

.form-contact{
    padding-top: 5rem;
    
}

@media(min-width: 768px) {
    .form-contact{
        display: flex;
    }
}
.information-contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.information-contact, .form{
    flex: 0 0 calc(50% - 1rem);
}

.information-contact{
    background-color: var(--dark);
    padding: 2rem;
}

.information-contact h3, .information-contact p, .social-media i{
    color: var(--white);
}
.information-contact h3{
    font-size: 4rem;
    font-family: var(--title);
}

.information-contact p{
    font-size: 2.2rem;
  
}
.information-contact i{
    margin-right: 1rem;
}

.social-media{
    font-size: 3rem;
}

.form{
    padding: 5rem;
}

.input-form label{
    display: block;
    font-size: 2rem;
    font-family: var(--paragraph);
    margin-bottom: .5rem;
}

.input-form input, .input-form textarea{
    width: 100%;
}
.input-form input, .input-form textarea{
    padding: 1rem 1.6rem;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    outline: none;
    font-family: var(--paragraph);
}
.input-form textarea{
    height: 20rem;
    resize:none;
}




.footer-1{
    margin-top: 5rem;
    background-color: rgb(20,20,20);
    padding: 5rem;
}
@media(min-width:768px){
    .footer-container{
        display: flex;
        justify-content: space-between;
    }

}
.info{
    flex: 0 0 calc(25% - 1rem);
    margin-bottom: 2rem;
}
.info h3, .info p{
    color: var(--white);
    text-align: center;
}
.info h3{
    font-size: 2.2rem;
}
.info p{
    font-size: 1.8rem;
}

.redes-pie{
    text-align: center;
}
.info input[type="email"]{
    font-family: var(--paragraph);
    display: inline-block;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 5px;
    outline: none;
    width: 100%;
}

.info input[type="submit"]{
    padding: .5rem 2rem;
    font-size: 1.8rem;
    border-radius: 0;
}
.footer{
    text-align: center;
    background-color: var(--dark);
    color: var(--white);
    padding: 2rem;
    font-size: 2rem;
}