@media only screen and (min-width: 56.25em) {
    picture, img {
      display: block;
    }
  
  
    .data h2 {
      font-family: Audiowide, Arial, Helvetica, sans-serif;
      background-color:white;
      color:#122c46;
      padding: 1rem;
      border-radius: 15px;
      position: relative;
      left: -50px;
      top: -10px;
      width: 200px;
      text-align: left;
    }

    .data {
      display: grid;
      position: absolute;
      top: 20%;
      left: 5%;
      list-style-type: none;
      background-color: #122c46b7;
      color: white;
      padding: 2rem;
      border-radius: 20px;
      border: 3px solid var(--whiteborders);
    }
  
    .weather {
      display: block;
      position: absolute;
      top: 30%;
      right: 5%;
      background-color: #122c46b7;
      color:white;
      padding: 2rem;
      border-radius: 15px;
      grid-template-columns: 1fr 1fr;    
      border: 3px solid var(--whiteborders);
    }
  
    .weather h2 {
      font-family: Audiowide, Arial, Helvetica, sans-serif;
      background-color: white;
      color:#122c46fe;
      padding: 1rem;
      border-radius: 15px;
      position: relative;
      left: -50px;
      top: -10px;
      width: 200px;
    }

    .weather .icon {
      display: none;
    }  


    .weather h2::after {
      content: "⛅";
      padding-left: 1rem;
    }
  
  
  }
  
  /* mobile */
  @media screen and (max-width: 28.125em) {  
    .weather-heading .icon {
      display: block;
      margin: 8px auto;
    }
  
    .data, .weather-heading h2 {
      text-align: center;
    }
  }
  
  /* tablets */
  @media screen and (max-width: 56.25em) {  
    .weather-heading .icon {
      display: block;
      margin: 8px auto;
    }
    
    .data, .weather-heading h2 {
      text-align: center;
      padding-top: 1rem;
    }
  } 